//COLORS
$BLUE-900: #0b0d17;
$BLUE-300: #d0d6f9;
$WHITE: #ffffff;
$OPEN-MENU-BG: #0b0d17;

//TYPOGRAPHY
$FONT-1: 'Bellefair', serif; //159
$FONT-2: 'Barlow Condensed', sans-serif;
$FONT-3: 'Barlow', sans-serif;

//MIXIN
@mixin TEXT-PRESET-1 {
  font-family: $FONT-1;
  font-size: 144px;

  line-height: normal;
  letter-spacing: 0;
}

@mixin TEXT-PRESET-2 {
  font-family: $FONT-1;
  font-size: 100px;

  line-height: normal;
  letter-spacing: 0;
}

@mixin TEXT-PRESET-3 {
  font-family: $FONT-1;
  font-size: 56px;

  line-height: normal;
  letter-spacing: 0;
}

@mixin TEXT-PRESET-4 {
  font-family: $FONT-1;
  font-size: 32px;

  line-height: normal;
  letter-spacing: 0;
}

@mixin TEXT-PRESET-5 {
  font-family: $FONT-2;
  font-size: 28px;

  line-height: normal;
  letter-spacing: 4px;
}

@mixin TEXT-PRESET-6 {
  font-family: $FONT-1;
  font-size: 28px;

  line-height: normal;
  letter-spacing: 0;
}

@mixin TEXT-PRESET-7 {
  font-family: $FONT-2;
  font-size: 14px;

  line-height: normal;
  letter-spacing: 2px;
}

@mixin TEXT-PRESET-8 {
  font-family: $FONT-2;
  font-size: 16px;

  line-height: normal;
  letter-spacing: 2px;
}

@mixin TEXT-PRESET-9 {
  font-family: $FONT-3;
  font-size: 18px;

  line-height: normal;
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  @mixin TEXT-PRESET-2 {
    font-size: 80px;
  }

  @mixin TEXT-PRESET-3 {
    font-size: 40px;
  }

  @mixin TEXT-PRESET-4 {
    font-size: 24px;
  }

  @mixin TEXT-PRESET-5 {
    font-size: 20px;
  }

  @mixin TEXT-PRESET-9 {
    font-size: 16/120px;
  }
}

@media screen and (max-width: 375px) {
  @mixin TEXT-PRESET-1 {
    font-size: 80px;
  }

  @mixin TEXT-PRESET-2 {
    font-size: 56px;
  }

  @mixin TEXT-PRESET-3 {
    font-size: 24px;
  }

  @mixin TEXT-PRESET-4 {
    font-size: 18px;
  }

  @mixin TEXT-PRESET-6 {
    font-size: 16px;
  }

  @mixin TEXT-PRESET-8 {
    font-size: 14px;
  }

  @mixin TEXT-PRESET-9 {
    font-size: 15/180px;
  }
}

// SPACING
$SPACING-1600: 128px;
$SPACING-1200: 96px;
$SPACING-1000: 80px;
$SPACING-800: 64px;
$SPACING-600: 48px;
$SPACING-500: 40px;
$SPACING-400: 32px;
$SPACING-300: 24px;
$SPACING-200: 16px;
$SPACING-150: 12px;
$SPACING-100: 8px;
$SPACING-50: 4px;
$SPACING-25: 2px;

//TRANSITION
$transition: 20s;

// TITLE NUMBER
@mixin TITLE-NUMBER {
  color: $WHITE;

  margin-right: 5px;

  font-family: $FONT-2;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 4.72px;

  opacity: 25%;
}

@media screen and (max-width: 768px) {
  @mixin TITLE-NUMBER {
    margin-right: 24px;

    font-size: 20px;
    letter-spacing: 15%;
  }
}

@media screen and (max-width: 375px) {
  @mixin TITLE-NUMBER {
    margin-right: 24px;
    margin-left: 55px;

    font-size: 16px;
  }
}
